* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
}

:root{
    /*clours*/
    --white-colour: #fff;
    --black-colour: #252525;
    --primary-colour:#3b141c ;
    --secondary-colour:#f1a252;
    --gray-colour:#ccc;
    --pink-colour:#ffb3b3;

        /*Font size*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-1: 1.5rem;
    --font-size-x1: 2rem;
    --font-size-xx1: 3rem;
    
        /*Font weight*/
    --font-weight-n: 400;
    --font-weight-m: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

        /*Border radius*/
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

        /*Site max width*/
    --site-max-width: 1300px;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width: 100%;

}

.section-content{
    margin: 0 auto;
    padding:  0 20px;
    max-width: var(--site-max-width);
}

.section-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:var(--font-weight-semibold);
    font-style: normal;
    font-size: 3rem;
    color: var(--secondary-colour);
    text-align: center;
}

.section-title:after{
    content: "";
    width: 150px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--primary-colour);
}

/* Navigation bar styling*/

header .navbar{
    display: flex;
    padding:20px;
    align-items:center; 
    justify-content: space-between
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: var(--primary-colour);
}

.navbar .nav-logo .logo-text{
    color: var(--white-colour);
    font-size: var(--font-size-x1);
}

.navbar .nav-menu{
    display: flex ;
    gap:10px;
}

.navbar .nav-menu .nav-link{
    color: var(--white-colour);
    padding: 10px ;
    background: none;
    font-size: var(--font-size-m);
    transition: 0.3s ease;
    border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover{
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

.Hero-section{
    min-height: 100vh;
    background: var(--primary-colour);
}

.Hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-colour);
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.Hero-section .hero-details .title{
    font-family: "Luckiest Guy",cursive;
    font-weight:900;
    font-style: normal;
    font-size: var(--font-size-xx1);
    color: var(--secondary-colour);
    padding-bottom: 20px;
}

.Hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 100%;
    font-size: var(--font-size-x1);
    font-weight: var(--font-weight-semibold);
    color: var(--white-colour);
}

.Hero-section .hero-details .description{
    max-width: 100%;
    margin: 28px 0 40px;
    font-size: var(--font-size-m);
    color: var(--white-colour);
}
.Hero-section .hero-details .buttons{
    display: flex;
    gap: 10px;
}
.Hero-section .hero-details .button{
    display: flex;
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--primary-colour);
    border-radius: var(--border-radius-m);
    background: var(--secondary-colour);
    font-weight: var(--font-weight-semibold);
    transition: 0.3 ease;
}

.Hero-section .hero-details .button:hover{
    color: var(--white-colour);
    border-color: var(--white-colour);
    background: transparent;
}
.Hero-section .hero-details .contact-us{
    color: var(--white-colour);
    border-color: var(--white-colour);
    background: transparent;
    font-weight: var(--font-size-m);
}

.Hero-section .hero-details .contact-us:hover{
    color: var(--primary-colour);
    background: var(--secondary-colour);
    border-color: var(--secondary-colour);
    font-weight: var(--font-weight-semibold);
    
}

.Hero-section .hero-image-wrapper{
    width: 80%;
    margin: 40px;
}

.about-section{
    max-height: 100%;
    background: var(--gray-colour);
}

.about-section .section-content{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;

}


.about-section .about-details .description{
    margin: 50px 0 30px;
    line-height: 30px;
    font-size: var(--font-size-1);
    color: var(--primary-colour);
    text-align: center;
}


.about-section .about-image-wrapper .about-image{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.about-section .about-details .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;

}

.about-section .about-details .logo .social-link{
    color: var(--primary-colour);
    font-size: var(--font-size-1);
    transition: 0.2s ease;
}

.about-section .about-details .logo .social-link:hover{
    color: var(--secondary-colour);
}

/* Menu section */

.menu-section{
    color: var(--white-colour);
    background: var(--black-colour);
    padding: 100px 0 100px;
}

.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-around;
    
}

.menu-section .menu-list .menu-items{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px) ;
}

.menu-section .section-title{
    padding: 10px 0 60px 0 ;
    color: var(--white-colour);
}

.menu-section .section-title:after{
    background: var(--secondary-colour);
}

.menu-section .menu-list .menu-items .Menu-image{
    max-width:100% ;
}

.menu-section .menu-list .menu-items .name{
    margin: 12px 0;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
}

.menu-section .menu-list .menu-items .text{
    font-size: var(--font-size-n);
    margin-bottom: 12px;
}

.menu-section .menu-list .menu-items .price{
    color: var(--secondary-colour);
}

/*test section*/
.test-section{
    padding: 100px 0;
    color: var(--black-colour);
    background: var(--white-colour);
}

.test-section .section-content{
    padding: 50px 0 0 0;
}
.test-section .test{
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.test-section .test .user-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.test-section .test .name{
    margin-bottom: 16px;
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semibold);
}

.test-section .test .feedback{
    line-height: 20px;

}

.test-section .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--secondary-colour);
}

.test-section .swiper-button-prev , .swiper-button-next {
    color: var(--secondary-colour);
    margin-top: -50px;
    transition: 0.3 ease;
}


.test-section .swiper-button-prev:hover , .test-section .swiper-button-next:hover{
    color: var(--primary-colour);
}
/* Gallery  section */

.gallery-section {
    padding: 100px 0 100px;
    color: var(--black-colour);
    background: rgb(245, 235, 236);
}

.gallery-section .section-title{
    color: var(--primary-colour);
}

.gallery-section .section-title:after{
    background: var(--secondary-colour);
}

.gallery-section .section-content{
    justify-content: center;
    padding: 50px 0 0 0;
}

.gallery-section .gallery-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    
}

.gallery-section .gallery-list .gallery-items{
    display: flex;
    width: calc(100% / 3 - 30px) ;
    overflow: hidden;
    border-radius: var(--border-radius-s);
}

.gallery-section .gallery-list .gallery-items .gallery-image{
    width: 100%;
    height: 100%;   
    cursor: zoom-in;
    transition: 0.3s ease;
}

.gallery-section .gallery-items:hover .gallery-image{
    transform: scale(1.2);
}

/* Contact section*/
.contact-section{
    color: var(--black-colour);
    padding: 100px 0 100px;
}

.contact-section .section-title{
    padding-bottom: 50px;
}
.contact-section .section-content{
    display: flex;
    gap: 50px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 40px;
}

.contact-section .contact-info-list .contact-info{
    display: flex;
    gap: 20px;
    margin: 20px 0 ;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i{
    font-size: var(--font-size-m);
}

.contact-section .section-content .contact-form .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--white-colour);
    border-radius: var(--border-radius-s);
    border: 1px solid var(--black-colour);
}
.contact-section .section-content .contact-form .form-input:focus{
    border-color: var(--secondary-colour);
}

.contact-section .section-content .contact-form textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: vertical;
}
.contact-section .section-content .contact-form .submit-button{
    padding: 10px 26px;
    color: var(--white-colour);
    background: var(--primary-colour);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}
.contact-section .section-content .contact-form .submit-button:hover{
    color: var(--black-colour);
    background-color: var(--secondary-colour);
    font-weight: var(--font-weight-semibold);
}

/* footer section*/

.footer-section{
    color: var(--white-colour);
    background: var(--black-colour);
    padding: 20px 0 ;
}

.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section .section-content .logo{
    display: flex;
    gap: 25px;
}

.footer-section .section-content .logo .social-link:hover ,
.footer-section .section-content .policy-text .policy-link:hover{
    color: var(--secondary-colour);
}

.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: var(--white-colour);
}

.footer-section .policy-text .separator{
    margin: 0 5px;
    font-weight: var(--font-weight-bold);
}


@media screen and (max-width:1024px) {

    .menu-section .menu-list{
        gap: 60px;
    }

    .menu-section .menu-list .menu-items{
        width: calc(100% / 2 - 60px) ;
    }

    .menu-section .menu-list .menu-items .Menu-image{
        max-width: 250px;
    }

}

@media screen and (max-width:900px){
    :root{
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-1: 1.12rem;
    --font-size-x1: 2.3rem;
    --font-size-xx1: 3rem;
    }
    .section-title{
        font-size: var(--font-size-x1);
    }
    .section-title::after{
        width:120px;
    }
     .navbar :where(#menu-close-button, #menu-open-button){
        font-size: var(--font-size-m);
        display: block;
     }

     .navbar #menu-close-button{
        position: absolute;
        left: 70%;
        top: 20px;
        padding: 10px 25px 10px 10px;
     }

     .navbar #menu-close-button:hover{
        color: #252525;
        background: #f1a252;
     }
     
     .navbar #menu-open-button{
        color: var(--white-colour);
     }

     .navbar .nav-menu{
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 200px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top:100px;
        background: var(--white-colour);
        transition: left 0.4s ease;
     }

     body.shaw-mobile-menu .navbar .nav-menu{
        left: 0;
     }
     .navbar .nav-menu .nav-link{
        color: var(--black-colour);
        font-size: var(--font-size-m);
        margin-top: 10px;
        display: block;
     }

    .Hero-section .hero-details .subtitle{
        font-size:2rem;
    }
     .Hero-section .section-content{
        gap:20px;
        margin: 0 20px 0 20px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
     }
    .Hero-section .hero-details .buttons{
        justify-content: center;
        padding-bottom: 40px;
    }
    .Hero-section .hero-image-wrapper{
        max-width: 70%;
        margin: 70px 0 0 0;
    }

    .about-section .section-content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 20px 0 20px;
        gap: 50px;
        padding: 30px 20px 40px;

    }

    .about-section .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
    }

    .menu-section .menu-list{
        gap: 60px;
    }  

    .menu-section .menu-list .menu-items{
        width: calc(100% / 2 - 30px) ;
    }

    .menu-section .menu-list .menu-items .Menu-image{
        max-width: 250px;
    }

    .gallery-section .section-content{
        margin: 0 40px;
    }

    .gallery-section .gallery-list .gallery-items{
        width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content{
        flex-direction: column-reverse;
    }

    .footer-section .section-content{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


} 

@media screen and (max-width:600px) {
        .menu-section .menu-list{
        gap: 60px;
        margin: 0 20px;
    }  

    .menu-section .menu-list .menu-items{
        width: 100%
    }

    .menu-section .menu-list .menu-items .Menu-image{
        max-width: 250px;
    }

    .gallery-section .section-content{
        margin: 0 40px;
    }

    .gallery-section .gallery-list .gallery-items{
        width: 100%;
    }

    .test-section .swiper-button-prev , .swiper-button-next{
    display: none;
    }
}

